@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Poppins:wght@200;300&display=swap');
* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	background: #4b5c66;
	background-image: url('https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=600');
	height: 700px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.container {
	--light-color: #fff;
	height: 520px;
	width: 950px;
	background: var(--light-color);
	box-shadow: 0px 0px 15px 0px black;
	position: relative;
	top: 70px;
	left: 180px;
	border-radius: 10px;
}
.chat-header {
	height: 60px;
	display: flex;
	align-items: center;
	padding: 0px 15px;
	background-color: #0652c0;
	color: var(--light-color);
	font-size: 1.5rem;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-color: #0652c0;
}

.chat-header .logo {
	height: 35px;
	width: 35px;
	box-shadow: 0px 0px 10px 0px black;
}
.chat-header img {
	height: 100%;
	width: 100%;
}
.chat-header .title {
	padding-left: 10px;
}
.chat-body {
	height: 400px;
	display: flex;
	flex-direction: column;
	padding: 8px 10px;
	align-items: flex-end;
	overflow-y: auto;
	text-align: center;
}
.input-sec {
	flex: 1;
	/* height: 45px; */
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 1px solid #ccc;
}
.inputArea {
	position: relative;
	top: 7px;
}
.sendBtn {
	position: relative;
	bottom: 32px;
	left: 95%;
	height: 35px;
	width: 35px;
}
#txtInput {
	line-height: 30px;
	padding: 8px 10px;
	border: none;
	outline: none;
	caret-color: black;
	font-size: 1rem;
	width: 100%;
}

.chatbot-message,
.user-message {
	padding: 8px;
	background: #ccc;
	margin: 5px;
	max-height: 410;
	max-width: 640px;
	border-radius: 10px 3px 10px 10px;
}
.chatbot-message {
	background: #0652c0;
	color: var(--light-color);
	align-self: flex-start;
	border-radius: 10px 10px 3px 10px;
}
.time {
	position: relative;
	right: 440px;
}
.removed {
	position: relative;
	right: 440px;
	opacity: 0;
}
